<link rel="stylesheet" href="/css/header.css">

<header>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="navbar-brand mx-auto">
            <img src="/images/inswhite.svg" alt="INS Logo">
        </div>

        <div class="collapse navbar-collapse position-absolute start-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= (currentRoute === '/dashboard' ? 'active fw-bold' : '')%>" href="/dashboard">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item <%= currentRoute === '/me/library' ? 'fw-bold' : ''%>" href="/me/library">My Library</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/auth/logout">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="position-absolute start-0 d-flex align-items-center gap-3">
            <button class="navbar-toggler toggler" type="button" onclick="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="position-absolute end-0 me-3">
            <div class="navbar-brand mb-0">
                <img src="<%= picture %>" width="35" height="35" class="rounded-circle" alt="Profile Picture" id="profilePic">
            </div>
        </div>
    </nav>

    <div id="fullscreenMenu" class="fullscreen-menu collapse">
        <button class="btn btn-close" onclick="toggleMenu()"></button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link <%= (currentRoute === '/dashboard' ? 'active fw-bold' : '')%>" href="/dashboard">Home</a>
            </li>
            <li class="nav-item d-lg-none">
                <a class="nav-link <%= (currentRoute === '/me/library' ? 'active fw-bold' : '')%>" href="/me/library">My Library</a>
            </li>
            <hr>
            <li class="nav-item d-lg-none">
                <a class="nav-link" onclick="localStorage.clear(); window.location.href = '/auth/logout';">Sign out</a>
            </li>
        </ul>
         <p class="footer">&copy; Group INS</p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('fullscreenMenu');
            menu.classList.toggle('show');
        }

        if ("<%= picture %>" === "/images/guest.png") {
            let clickCount = 0;
            const profilePic = document.getElementById('profilePic');
            
            profilePic.addEventListener('click', () => {
                clickCount++;
                if (clickCount === 10) {
                    profilePic.src = '/images/sirronnie.png';
                    profilePic.classList.add('easter-egg');
                }
            });
        }
    </script>
    
</header>

