<% if (searchResults.length === 0) { %>
    <div class="alert alert-warning alert-dismissible fade show">
        <%- errmessage %>
    </div>
<% } else { %>
    <% searchResults.forEach(result => { %>
        <% 
            const authors = result.authors.map(author => {
                const parts = author.split(' ');
                const lastName = parts.pop();
                const initials = parts.map(part => part.charAt(0) + '.').join(' ');
                return `${lastName}, ${initials}`;
            }).join(', ');
        %>
        <div class="card text-left mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= result.title %></h5>
                <p class="card-text text-truncate"><%= result.abstract %></p>
                <a href="/thesis/<%= result.id %>" class="btn btn-success">Read thesis</a>
            </div>
            <div class="card-footer text-muted">
                <b>Authors:</b> <%= authors %><br>
                <b>Published:</b> <%= result.year %>
            </div>
        </div>
    <% }); %>
<% } %>
